[Unit]
Description=bettercap api.rest service.
Documentation=https://bettercap.org
Wants=check_wlan0.service
After=check_wlan0.service

[Service]
Type=simple
ExecStart=/usr/bin/bettercap-launcher
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
